--extra-index-url https://download.pytorch.org/whl/cpu
torch
streamlit
pandas
numpy
plotly
tvdatafeed @ git+https://github.com/rongardF/tvdatafeed.git
git+https://github.com/google-research/timesfm.git
huggingface_hub
openpyxl
